.white-background.stories-list
  .stories
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-1.jpg")
          .col2
            %h2
              %a(href="#")
                Всероссийская перепись населения 2010
            .stats
              Новости:
              %span
                12
              Интервью:
              %span
                3
              Статьи:
              %span
                6
            .title
              %span
              %a(href="")
                Перепись населения на Сахалине проведена на 50%
            .title
              %span
              %a(href="")
                Всероссийская перепись населения стартовала в Находке
            .title
              %span
              %a(href="")
                В России началась перепись населения
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-2.jpg")
          .col2
            %h2
              %a(href="#")
                Олимпиада в Сочи 2014
            .stats
              Новости:
              %span
                12
              Интервью:
              %span
                5
              Статьи:
              %span
                30
            .title
              %span
              %a(href="")
                Финалисты фестиваля "Кавказские игры" получили награды от Сочи-2014
            .title
              %span
              %a(href="")
                Томичи предложили сделать талисманом Сочи-2014 поросенка-предсказателя
            .title
              %span
              %a(href="")
                Снежный барс лидирует в конкурсе талисманов Сочи-2014
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-3.jpg")
          .col2
            %h2
              %a(href="#")
                Азиатско-Тихоокеанский форум экономического сотрудничества
            .stats
              Новости:
              %span
                56
              Интервью:
              %span
                1
            .title
              %span
              %a(href="")
                Полпред Ишаев побывает на строительстве объектов саммита АТЭС
            .title
              %span
              %a(href="")
                Губернатор Приморья осмотрел кризный паром Георгий Отс, который собираются задействовать в приеме гостей саммита 2014
            .title
              %span
              %a(href="")
                Приморские студенты представляют Россию на самите АТЭС в Японии
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-1.jpg")
          .col2
            %h2
              %a(href="#")
                Всероссийская перепись населения 2010
            .stats
              Новости:
              %span
                12
              Интервью:
              %span
                3
              Статьи:
              %span
                6
            .title
              %span
              %a(href="")
                Перепись населения на Сахалине проведена на 50%
            .title
              %span
              %a(href="")
                Всероссийская перепись населения стартовала в Находке
            .title
              %span
              %a(href="")
                В России началась перепись населения
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-2.jpg")
          .col2
            %h2
              %a(href="#")
                Олимпиада в Сочи 2014
            .stats
              Новости:
              %span
                12
              Интервью:
              %span
                5
              Статьи:
              %span
                30
            .title
              %span
              %a(href="")
                Финалисты фестиваля "Кавказские игры" получили награды от Сочи-2014
            .title
              %span
              %a(href="")
                Томичи предложили сделать талисманом Сочи-2014 поросенка-предсказателя
            .title
              %span
              %a(href="")
                Снежный барс лидирует в конкурсе талисманов Сочи-2014
    .story
      .al_bottom1
        .al_bottom2
          .col1
            %a(href="#")
              %img(src="/images/stories-3.jpg")
          .col2
            %h2
              %a(href="#")
                Азиатско-Тихоокеанский форум экономического сотрудничества
            .stats
              Новости:
              %span
                56
              Интервью:
              %span
                1
            .title
              %span
              %a(href="")
                Полпред Ишаев побывает на строительстве объектов саммита АТЭС
            .title
              %span
              %a(href="")
                Губернатор Приморья осмотрел кризный паром Георгий Отс, который собираются задействовать в приеме гостей саммита 2014
            .title
              %span
              %a(href="")
                Приморские студенты представляют Россию на самите АТЭС в Японии

  = render 'shared/pagination'
- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'

