!!!Strict
%html
  %header
    %link(rel="stylesheet" type="text/css" href="/stylesheets/compiled/application.css")
  :plain
    <style type="text/css">@-moz-document url-prefix(){.light-green-line{top: 31px !important}}</style>
    <!--<script type="text/javascript" src="http://vkontakte.ru/js/api/share.js?10" charset="windows-1251"></script>-->
  %body
    .content
      .top
        %h1.logo
          %a(href="/")
            DV-NEWS
        .date
          12 ноября 2010
        .search
          %form
            %input(value="Поиск")
        = render 'shared/menu'
      .green-line
      .sub-menu-bg
        .menu-background
        .white-line
      #main
        #content
          = render 'shared/hot_news'
          = yield
        #sidebar
          .gray-line
          .sidebar-container
            = yield :sidebar
      #footer
        %ul.menu
          %li
            %a(href="")
              О компании
          %li
            %a(href="")
              Продукты и услуги
          %li
            %a(href="")
              Контакты
          %li
            %a(href="")
              Партнеры
          %li
            %a(href="")
              RSS
        .copyright
          Copyright 2010 «DV-News» все права защищены
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag '/javascripts/galleria/galleria.js'
    = javascript_include_tag 'application'
